*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    background-image: url(картинки/s1background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
}
nav ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    height: 50%;
    width: 15%;
    border-radius: 30px;
}
nav ul li{
    list-style: none;
}
li a{
    text-decoration: none;
}

